<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Cookies!</title>
</head>
<header>   
    <h1 class="text-3xl font-bold bg-green-500 text-white text-center py-5 JetBrainsMono-normal"> Test de cookies </h1>
</header>
<body>
    <div class="flex justify-center">  <img class="rounded-lg shadow-xl"></div>
    <div class="flex justify-center mt-5">
        <a href="/1" class="bg-blue-500 text-white px-4 py-2 rounded-lg mx-2">Button 1</a>
        <a href="/2" class="bg-blue-500 text-white px-4 py-2 rounded-lg mx-2">Button 2</a>
        <a href="/3" class="bg-blue-500 text-white px-4 py-2 rounded-lg mx-2">Button 3</a>
    </div>
    <div class="flex justify-center mt-5">
        <a href="/end" class="bg-red-500 text-white px-4 py-2 rounded-lg">End</a>
    </div>
</body>
<footer>
    <p class="text-center text-gray-500 text-sm mt-5">Test de cookies par Ruben!</p>
</footer>
</html>